
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-my-font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.manrope-uniquifier{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
/* header section */
.head{
     background-image: url(./images/Circle\ design.svg);
     background-repeat: no-repeat;
     background-position: right bottom;
     max-width: 1440px;
     margin: 0 auto;
     height: 640px;
}
.header-title {
    margin-top: 40px;
}

section.container {
    max-width: 1440px;
    margin: 0 auto;
}
.head-img {
    padding: -1px;
    margin-left: -90px;
}

h2.head-h2 {
    color: rgba(58, 58, 58, 1);
    font-size: 1.5rem;
    font-weight: 800;
}
.nav-main {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

ul {
    display: flex;
    gap: 30px;
    text-decoration: none;
}

li {
    font-size: 1rem;
    list-style: none;
}

i.bx.bx-search {
    font-size: 1.5rem;
}

i.bx.bx-cart-add {
    font-size: 1.8rem;
}
.nav-ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
h1.header-h1 {
    font-size: 3.25rem;
    max-width: 600px;
    font-weight: 800;
    color: rgba(58, 58, 58, 1);
}
p.header-p {
    font-size: 1rem;
    max-width: 490px;
    font-weight: 500;
    color: rgba(58, 58, 58, 1);
}
button.btn-primary {
    width: 196px;
    height: 40px;
    border-radius: 50px;
    color: rgb(255 255 255);
    background-color: rgba(224, 44, 109, 1);
    border: none;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
i.bx.bx-right-arrow-alt {
    font-size: 23px;
}

.head-title-img {
    display: flex;
    justify-content: space-between;
    margin: 130px 0;
}

.head-img img{
    width: 82%;
    margin-left: 80px;
}
.banner {
    border: 2px solid #f8f8f8;
    height: 81px;
    max-width: 1210px;
    margin: 0 auto;
}
.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 75px;
}

/* Collection */



section.Collection {
    width: 1250px;
    margin: 0px auto;
    margin-top: 300px;
}
img.star {
    width: 100px;
    margin-top: -37px;
}

.collection-flex {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.Collection-main {
    width: 340px;
    height: 490px;
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 40px 0px rgb(239 234 234);
}

.Collection-card {
    padding: 20px 20px;
}

h3.Collection-h3 {
    font-size: 1.75rem;
    font-weight: 500;
    color: rgba(24, 25, 31, 1);
}

h4.Collection-h4 {
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Inter", sans-serif;
    margin-top: 6px;
}

p.Collection-p {
    margin-top: -19px;
    font-size: 0.87rem;
    font-weight: 700;
    color: rgba(120, 120, 133, 1);
    font-family: "Inter", sans-serif;
}

.Collection-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin-top: 50px;
}

h1.Collection-h1 {
    font-size: 1.75rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
    text-align: center;
    /* margin-top: -30px; */
}


.btn {
    margin-top: 30px;
    margin-right: 45px;
    font-size: 1rem;
    color: rgba(224, 44, 109, 0.87);
    display: flex;
    align-items: center;
    border: none;
    font-weight: 800;
    background: white;
    margin-left: auto;
}
/* Featured start */
section.Featured {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
}

img.f-img {
    /* width: 600px; */
    width: 100%;
    margin-left: 90px;
}

.Featured-main {
    display: flex;
    gap: 190px;
    align-items: center;
}

h1.featured-h1 {
    font-size: 2.37rem;
    color: rgba(10, 8, 38, 1);
    font-weight: 800;
}
h1.featured-h1 {
    font-size: 2.37rem;
    color: rgba(10, 8, 38, 1);
    font-weight: 800;
}

p.features.p {
    font-weight: 800;
    color: rgba(108, 108, 108, 1);
    max-width: 510px;
    margin-top: 20px;
}

/* footer start */
.footer-container {
    text-align: center;
    padding-top: 40px;
}

footer {
    background-color: rgb(10, 08,38);
    margin-top: 100px;
    height: 200px;
}


h4.footer-h4 {
    font-size: 1.5rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}

p.footer-copy {
    font-size: 0.87rem;
    font-weight: 800;
    color: rgba(217, 219, 225, 1);
    font-family: "Manrope", sans-serif;
    margin-top: 10px;
}

p.footer-all-right {
    font-size: 0.87rem;
    color: rgba(217, 219, 225, 1);
    font-weight: 800;
    margin-top: 15px;
}
.footer-icon {
    font-size: 20px;
    gap: 40px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #ffff;
    margin-top: 12px;
}






/* responsive */
@media screen and (max-width: 576px) {
    
    
    .nav-main,
    .nav-ul {
        flex-direction: column;
        align-items: center;
    }
.nav-ul{
    margin-right: -18px;
    margin-top: 30px;
}
.head-title-img{
    flex-direction: column-reverse;
    /* width: 100%; */
}
.nav-main {
    margin-top: 15px;
}

.head{
    height: 940px;
    background-position: bottom center;
} 

.header-title

{
    text-align: center;
}
button.btn-primary{
    gap: 8px;
    margin-left: 145px;
}
    .banner-img {
        grid-template-columns: repeat(4, 1fr);
        display: grid;
        align-content: space-evenly;
        gap: 24px;
        padding-left: 50px;
    }


img.img-grid{
    width: 59px;
}

h1.Collection-h1 {margin-left: 80px;width: 271px;}

.Collection-container{
    margin-left: 37px;
}

.Collection-container{
    flex-direction: column;
}


section.Collection{
    padding-top: 360px;
    width: 50px;
    margin-left: 60px;
}

.btn{margin-right: -324px;}


.section.Collection{
    width: 0px;
}

.Featured-title {
    text-align: center;
    margin-top: -120px;
}

img.f-img {
    width: 100%;
    margin-left:0px;
}

.Featured-main{
    flex-direction: column;
}









}





